.example-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  

.example-header{
    min-height: 64px;
    padding: 8px 24px 0;
}
  

.mat-form-field{
    font-size: 14px;
    width: 100%;
}
  

.mat-table{
    overflow: auto
}
  

/* Absolute Center Spinner */
.loading-indicator{
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading-indicator:before{
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}